Hi <%= username %>,<br><br>

    You have requested a password reset at <%= siteUrl %>.<br>
        This request was done by a user with the IP address of <%= ipAddress %>.<br><br>

            Click <a href="<%= resetLink %>">here</a> to reset your password.<br><br>

            If the link does not work then please past this URL in your webbrowser:<br>
            <%= resetLink %><br><br>

                If you did not request a password reset then please ignore this e-mail.<br><br>

                Best Regards,<br><br>

                Naruto-Arena.com Staff