<div id="content">
    <div class="brspacer">
        <h1>Buddy list</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <a href="/control-panel/">Control panel</a> &gt; <h2>Buddy list</h2></div>
    </div>
    <div class="brspacer">

        <div class="brspacer">
            The Buddy List is a nice way to make friends on Naruto Arena. You can keep an eye on your friends'
            online/offline status right here. All friends are of course other Naruto Arena members.
        </div>

        <% if (typeof error !=='undefined' && error) { %>
            <div class="error" style="text-align: center;">
                <%= error %>
            </div>
        <% } %>
        <% if (typeof message !=='undefined' && message) { %>
            <div class="succesfull" style="text-align: center;">
                <%= message %>
            </div>
        <% } %>

        <div style="margin-bottom: 10px; color: #808080; font-size: 10px; text-align: center;">
            There are currently <%= buddies.filter(b=> b.isOnline).length %> buddies online of <%=
                buddies.length %> total buddies.
        </div>

        <table width="100%" cellspacing="0" cellpadding="3" style="border-top: 1px dotted #CCCCCC;">
            <tr style="background-color: #F0F0F0; font-weight: bold;">
                <td width="20"></td>
                <td>Username</td>
                <td>Last activity</td>
                <td>Last online</td>
                <td align="center">Options</td>
            </tr>
            <% buddies.forEach((buddy, index)=> { %>
                <tr>
                    <td><img src="/images/layout/<%= buddy.isOnline ? 'online' : 'offline' %>.gif"
                            alt="<%= buddy.isOnline ? 'online' : 'offline' %>"></td>
                    <td>
                        <%= buddy.username %>
                    </td>
                    <td>
                        <%= buddy.lastActivity %>
                    </td>
                    <td style="color: #808080; font-style: italic;">
                        <%= buddy.lastOnline %>
                    </td>
                    <td align="center">
                        <a href="/private-messages?view=compose&receiver=<%= buddy.username %>"
                            style="text-decoration: none; color: #F89700; font-weight: bold;">[Message]</a>

                        <form action="/buddy-list/delete" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="<%= buddy.id %>">
                            <input type="submit" value="[Delete]"
                                style="border:none; background:none; color: red; font-weight: bold; cursor:pointer; padding: 0; text-decoration: none;">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="border-bottom: 1px dotted #CCCCCC; height: 1px;"></td>
                </tr>
            <% }); %>
        </table>

        <br>
        <div style="margin-bottom: 10px;">
            <span style="color: #F89700; font-weight: bold;">[Message]</span> Send Private Message
            &nbsp;&nbsp;&nbsp;
            <span style="color: red; font-weight: bold;">[Delete]</span> Delete from buddylist
        </div>

        <br>
        <table width="100%">
            <tr>
                <td valign="top" width="60%">
                    <b>Adding a buddy:</b><br>
                    <div style="color: #808080;">Enter the username of the member you wish to add to
                        your buddy-list on the right.</div>
                </td>
                <td valign="top" align="right">
                    <form action="/buddy-list/add" method="post" style="margin: 0;">
                        <label for="add_buddy" class="con" style="font-weight: bold;">Add buddy:</label><br>
                        <input type="text" id="add_buddy" name="username"
                            style="width: 150px; border: 1px solid #000; margin-bottom: 5px;"><br>
                        <input type="submit" value="Add buddy" class="button">
                    </form>
                </td>
            </tr>
        </table>

    </div>
    <div class="brspacer2">
        <div class="dots"></div>
        <div class="grey">
            <div class="centerp">
                Related subjects: <h3>buddy list</h3>, <h3>friends</h3>, <h3>online</h3>
            </div>
        </div>
    </div>
    <div class="brspacer">
        <div class="brspacer">
            <center>
                Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
                The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
                NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
                <div class="centerp">
                    <a href="/privacy-policy/" class="con">Privacy policy</a> -
                    <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
                    <a href="/terms-of-use/" class="con">Terms of use</a>
                </div>
            </center>
        </div>
    </div>
</div>
