<div id="content">
    <div class="brspacer">
        <h1>Change avatar</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <a href="/control-panel/">Control panel</a> &gt; <h2>Change avatar</h2></div>
    </div>
    <div class="brspacer">
<div class="brspacer">
</div>

<% if (typeof success !=='undefined' && success) { %>
    <div class="succesfull" style="text-align: center;">
        <%= success %>
    </div>
<% } %>
<% if (typeof error !=='undefined' && error) { %>
    <div class="error" style="text-align: center;">
        <%= error %>
    </div>
<% } %>

<!-- Pre-defined Standard Avatars -->
<fieldset style="border: 1px solid #999; padding: 10px; margin-bottom: 20px;">
    <legend style="font-weight: bold;">Pre-defined Standard Avatars</legend>

    <form method="post" action="/change-avatar/preset">
        <table width="100%" cellpadding="5">
            <% const avatarsPerRow=5; for (let i=0; i < presetAvatars.length; i +=avatarsPerRow) { %>
                <tr>
                    <% for (let j=i; j < i + avatarsPerRow && j < presetAvatars.length; j++) { %>
                        <td align="center" style="padding: 5px;">
                            <input type="radio" name="preset_avatar" value="<%= presetAvatars[j] %>"
                                id="avatar_<%= j %>" <% if (currentAvatar==='/images/avatars/preset/' +
                                presetAvatars[j]) { %>checked<% } %>>
                            <br>
                            <label for="avatar_<%= j %>">
                                <img src="/images/avatars/preset/<%= presetAvatars[j] %>"
                                    alt="<%= presetAvatars[j] %>" width="75" height="75"
                                    style="border: 2px solid #ccc; cursor: pointer;">
                            </label>
                        </td>
                    <% } %>
                    <% for (let k=presetAvatars.length; k < i + avatarsPerRow && i + avatarsPerRow > presetAvatars.length; k++) { %>
                        <td></td>
                    <% } %>
                </tr>
            <% } %>
        </table>

        <!-- Pagination -->
        <div style="text-align: center; margin-top: 15px; margin-bottom: 10px;">
            [Page <%= currentPage %>/<%= totalPages %>]
            <% for (let p=1; p <=totalPages; p++) { %>
                <% if (p===currentPage) { %>
                    <b><%= p %></b>
                <% } else { %>
                    <a href="/change-avatar?page=<%= p %>"><%= p %></a>
                <% } %>
            <% } %>

            &nbsp;&nbsp;

            <select onchange="window.location.href='/change-avatar?page=' + this.value">
                <% for (let p=1; p <=totalPages; p++) { %>
                    <option value="<%= p %>" <% if (p===currentPage) { %>selected<% } %>>Page <%= p %></option>
                <% } %>
            </select>
        </div>

        <div class="centerp">
            <input type="submit" class="button" value="Set avatar">
        </div>
    </form>
</fieldset>

<br>

<!-- Upload Custom Avatar -->
<fieldset style="border: 1px solid #999; padding: 10px;">
    <legend style="font-weight: bold;">Upload Custom Avatar</legend>

    <div style="margin-bottom: 15px;">
        <u>About uploading a custom avatar:</u><br><br>
        1. Custom avatars may not be over 100 KB<br>
        2. Only .jpg format is permitted. Otherwise the avatar would not work in-game.<br>
        3. Custom avatars should be exactly 75 pixels wide and 75 pixels height
    </div>

    <table>
        <tr>
            <td style="padding-right: 20px; vertical-align: top;">
                <b>Avatar</b><br>
                <img src="<%= currentAvatar %>" alt="Current avatar" width="75" height="75"
                    style="border: 2px solid #ccc; margin-top: 5px;">
            </td>
            <td style="vertical-align: top;">
                <form method="post" action="/change-avatar/upload" enctype="multipart/form-data">
                    Upload a custom avatar:<br><br>
                    <input type="file" name="avatar" accept=".jpg,.jpeg" required><br><br>
                    <input type="submit" class="button" value="Upload">
                </form>
            </td>
        </tr>
    </table>
</fieldset>

							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>avatar</h3>, <h3>change avatar</h3>, <h3>profile picture</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> -
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>
