<div id="content">
    <div class="brspacer">
        <h1>Characters and Skills</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/game-manual/">Game manual</a> &gt; <h2>Characters and Skills</h2></div>
    </div>
    <div class="brspacer">
Naruto-Arena forces you to select 3 characters when you start a new <a href="/game-manual/" class="con" title="game">game</a>. This page gives you an overview of all characters available in the Naruto-Arena <a href="/game-manual/" class="con" title="game">game</a>. Not only can you view each character's skills, you can also discuss the characters by posting comments.

<div class="brspacer">
</div>

<center>
    <% characters.forEach(function(character) {
                slug=character.name.toLowerCase().replace(/\s+/g, '-' ).replace(/[^a-z0-9-]/g, '' ); %>
	<div class="description">
		<img class="pre" src="/images/pres/pre3.gif"> <h2><%= character.name %></h2>
		<div class="dots"></div>
		<div class="chardescr">
			<img src="/game/images/characters/<%= character.id %>/avatarselection.jpg" class="border" align="left"><%= character.description %>
		</div>
		<div class="dots"></div>
		<div class="right">
			<a href="/<%= slug %>/" class="subjlink">More about <%= character.name %></a>
		</div>
	</div>
    <% }); %>
	
	<div class="brspacer2">
<center>
	<div id="comments">
	</div>
</center></div>
</center></div>
<div class="brspacer2">
    <div class="dots"></div>
    <div class="grey">
        <div class="centerp">
            Related subjects: <h3>characters and skills</h3>, <h3>characters</h3>, <h3>skills</h3>, <h3>character</h3>, <h3>skill</h3>
        </div>
    </div>
</div>
<div class="brspacer">
    <div class="brspacer">
        <center>
            Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
            The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
            NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
            <div class="centerp">
                <a href="/privacy-policy/" class="con">Privacy policy</a> - 
                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
                <a href="/terms-of-use/" class="con">Terms of use</a>
            </div>
        </center>
    </div>
</div>
</div>
