<!-- Version 2 Layout -->

<div id="content">
    <div class="brspacer">
        <h1>News</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <h2>News</h2></div>
    </div>
    <div class="brspacer">

<div class="brspacer">


</div>

<% if (locals.news && news.length > 0) { %>
    <% news.forEach(function(post) { %>
        <div class="newsheader">
            <a class="newsh" href="/<%= post.slug %>/"><%= post.title %></a><br>
            <font class="info">
                <img class="pre" src="/images/pres/pre2.gif"> <%= new Date(post.createdAt).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %> at <%= new Date(post.createdAt).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: false }) %> by
                <a href="/profile/<%= post.authorName %>/" class="newsp"><b><%= post.authorName %></b></a>
            </font>
        </div>
        <div class="dots"></div>
        <div class="news"><%- post.content %></div>
        <div class="dots"></div>
        <div class="right">
            <a href="/<%= post.slug %>/"><b>(<%= post.commentCount %>)</b> comments</a>
        </div>
        <br>
    <% }); %>
<% } else { %>
    <div class="news">
        <p>No news posts yet. Check back soon!</p>
    </div>
<% } %>

<center>
	<div class="newsarchive">
		<div class="dots"></div>
		<div class="padding2">
			<font class="info">
				All of the newsposts that have been posted on Naruto Arena can be found in our newsarchive.
				Browse the newsarchive if you wish to find older newsposts.
			</font>
		</div>
		<div class="centerp2">
			<a href="/news-archive/"> <b>Go to the News Archive</b></a>
		</div>
		<div class="dots"></div>
	</div>
</center>

<div class="brspacer">
<center>
	<div id="comments">
	</div>
</center></div>							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3>news</h3>, <h3>newsticker</h3>, <h3>latest news</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<center>
								</center>
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> -
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>
