<div id="content">
    <div class="brspacer">
        <h1><%= viewNews.title %></h1><br>
        <div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <a href="/news/">News</a>
            &gt; <h2><%= viewNews.title %></h2>
        </div>
    </div>
    <div class="brspacer">

        <div class="brspacer">


        </div>


        <div class="newsheader">
            <font class="info">
                <img class="pre" src="/images/pres/pre.gif">
                <%= new Date(viewNews.createdAt).toLocaleString('en-US', { weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric' , hour: 'numeric' , minute: 'numeric' , hour12: false }) %>
                by
                <a href="/profile/<%= viewNews.authorName %>/" class="newsp"><b><%= viewNews.authorName %></b></a>
            </font>
        </div>
        <div class="dots"></div>
        <div class="news">
            <%- viewNews.content %>
        </div>
        <div class="dots"></div>
        <div class="right">
            <b>(<%= typeof totalComments !=='undefined' ? totalComments : (comments ? comments.length : 0) %>)</b>
            comments
        </div>
        <br>


        <div class="brspacer">
            <center>
                <div id="comments">
                    <% if (comments && comments.length> 0) { %>
                    <% comments.forEach(function(comment) { %>
                    <%- include('../comment', { comment: comment }); %>
                    <% }); %>
                    <% } else { %>
                    <div class="nothing">No comments yet.</div>
                    <% } %>
                    <br>
                    <div class="commentlisting">
                        <div class="left">
                            <% if (typeof totalPages !=='undefined' && totalPages> 1) { %>
                            [ Page <%= currentPage %>/<%= totalPages %> ] &nbsp;

                            <% if (currentPage> 1) { %>
                            <a href="/<%= viewNews.slug %>/1"><img class="pre" src="/images/pres/pre2.gif"><img
                                    class="pre" src="/images/pres/pre2.gif"></a>
                            <a href="/<%= viewNews.slug %>/<%= currentPage - 1 %>">
                                <img class="pre" src="/images/pres/pre2.gif">
                            </a>
                            <% } %>
                            <% let startPage=Math.max(1, currentPage - 3); let
            endPage=Math.min(totalPages, currentPage + 3); if
            (endPage - startPage < 6) { if (startPage===1) {
            endPage=Math.min(totalPages, startPage + 6); } else if
            (endPage===totalPages) { startPage=Math.max(1, endPage -
            6); } } %>

                            <% for(let i=startPage; i <=endPage; i++) { %>
                            <% if (i===currentPage) { %>
                            <u>
                                <%= i %>
                            </u>
                            <% } else { %>
                            <a href="/<%= viewNews.slug %>/<%= i %>">
                                <font color="black">
                                    <%= i %>
                                </font>
                            </a>
                            <% } %>
                            <% } %>

                            <% if (currentPage < totalPages) { %>
                            <a href="/<%= viewNews.slug %>/<%= currentPage + 1 %>">
                                <img class="pre" src="/images/pres/pre.gif">
                            </a>
                            <a href="/<%= viewNews.slug %>/<%= totalPages %>">
                                <img class="pre" src="/images/pres/pre.gif"><img class="pre" src="/images/pres/pre.gif">
                            </a>
                            <% } %>
                        </div>
                        <% } %>
                    </div>

                    <div class="clear"></div>
                </div>
                <% if (user) { %>
                <script>
                    function quoteComment(author, content) {
                        const editor = document.getElementById('comment-editor');
                        const quoteHtml =
                            `<div class='quote1'><b>Quote by ${author}</b><div class='quote2'>${content}</div></div><br>`;
                        editor.innerHTML = quoteHtml + editor.innerHTML;
                    }
                </script>
                <form action="/news/<%= viewNews.slug %>/comment" method="post"
                    onsubmit="document.getElementById('comment-content').value = document.getElementById('comment-editor').innerHTML;">
                    <input type="hidden" name="content" id="comment-content">
                    Emotes:
                    <% const emotes=['amazed', 'amused' , 'blink' , 'cheesy' , 'confused' , 'cool' , 'cry'
                    , 'embarressed' , 'evil' , 'huh' , 'laugh' , 'mad' , 'notrust' , 'noworry' , 'nuts'
                    , 'oh' , 'push' , 'rolleyes' , 'sad' , 'sick' , 'smile' , 'suspicious' , 'teeth'
                    , 'tounge' , 'unsure' , 'wacko' , 'weird' , 'wondering' , 'worried' ]; %>
                    <div
                        style="max-height: 100px; overflow-y: scroll; border: 1px solid #ccc; padding: 5px; text-align: left;">
                        <% emotes.forEach(function(emote) { %>
                        <img src="/images/smilies/<%= emote %>.gif"
                            onclick="const img = document.createElement('img'); img.src = '/images/smilies/<%= emote %>.gif'; img.className = 'smilie'; document.getElementById('comment-editor').appendChild(img);"
                            style="cursor: pointer;" title="<%= emote %>">
                        <% }); %>
                    </div>
                    <br>
                    <div id="comment-editor" contenteditable="true"
                        style="width: 100%; height: 100px; border: 1px solid #7f9db9; background-color: white; overflow-y: scroll; text-align: left; color: black;">
                    </div>
                    <br>
                    <input type="submit" value="Post Comment">
                </form>
                <% } else { %>
                <div class="brspacer2">
                    <div class="centererror">You need to be logged in to be able to make a comment.</div>
                    <div class="centererror"><a href="/register/"><u>Click here to register an account.</u></a></div>
                </div>
                <% } %>
        </div>
        </center>
    </div>
</div>
<div class="brspacer2">
    <div class="dots"></div>
    <div class="grey">
        <div class="centerp">
            Related subjects: <h3><%= viewNews.title %></h3>
        </div>
    </div>
</div>
<div class="brspacer">
    <div class="brspacer">
        <center>
            Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
            The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
            NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
            <div class="centerp">
                <a href="/privacy-policy/" class="con">Privacy policy</a> -
                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
                <a href="/terms-of-use/" class="con">Terms of use</a>
            </div>
        </center>
    </div>
</div>
</div>