<div id="content">
    <div class="brspacer">
        <h1><%= profileUser.username %></h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <a href="/profile/">Profile</a> &gt; <h2><%= profileUser.username %></h2></div>
    </div>
    <div class="brspacer">
The <a href="/change-settings/" class="con" title="profile">profile</a> you are viewing is one of a registered user on Naruto Arena. Note that this information is meant for on-site use only.

<div class="brspacer"></div>
<% var fifteenMinutes=15 * 60 * 1000; var isOnline=profileUser.lastActive && (Date.now() - profileUser.lastActive < fifteenMinutes); %>
<table class="max">
	<tbody><tr>
        <% var avatarPath=profileUser.avatar || '/images/avatars/default.jpg' ; %>
		<td class="avatar"><br><img src="<%= avatarPath %>"></td>
		<td width="100%">
			<table class="avatarmax">
				<tbody><tr>
					<td class="title" colspan="2"><img class="pre" src="/images/pres/pre3.gif"> Account information</td>
				</tr>
				<tr class="color2">
					<td width="30%"><u>Username:</u></td>
					<td width="70%"><h6><%= profileUser.username %></h6></td>
				</tr>
				<tr class="color1">
					<td>Site rank:</td>
					<td><img src="/images/ranks/<%= profileUser.role ? profileUser.role.charAt(0).toLowerCase() + profileUser.role.slice(1) : 'member' %>.gif"> <%= profileUser.role ? profileUser.role.charAt(0).toUpperCase() + profileUser.role.slice(1) : 'Member' %></td>
				</tr>
				<tr class="color2">
					<td>Posts:</td>
					<td><%= profileUser.posts || 0 %></td>
				</tr>
				<tr class="color1">
					<td>Registered on:</td>
					<td colspan="2">
                        <%= profileUser.registeredOn ? new
                                Date(profileUser.registeredOn).toLocaleDateString('en-US', { month: 'long' ,
                                day: 'numeric' , year: 'numeric' }) : 'Unknown' %>
                    </td>
				</tr>
				<tr><td class="dots" colspan="2"></td></tr>
			</tbody></table>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<div class="brspacer">
				<div class="center">
					[ <a href="/memberlist/" class="con">Show memberlist</a> ]
				</div>
			</div>
		</td>
	</tr>
</tbody></table>
<div class="brspacer"></div>
<table class="max">
	<tbody><tr>
		<td class="title" colspan="2"><img class="pre" src="/images/pres/pre3.gif"> Naruto-Arena Ladder</td>
	</tr>
	<tr class="color2">
		<td width="30%">Ladder Rank:</td>
		<td width="70%"><%= profileUser.ladderPosition || 'Unranked' %></td>
	</tr>
	<tr class="color1">
		<td width="30%">Highest Ladder Rank Achieved:</td>
		<td width="70%">1</td>
	</tr>
	<tr class="color2">
		<td>Ninja rank:</td>
        <% var rankImageMap={ 'Academy Student' : 'academystudent' , 'Genin' : 'genin' , 'Chuunin'
                                : 'chuunin' , 'Special Jounin' : 'specialjounin' , 'Jounin' : 'jounin' , 'Sannin'
                                : 'sannin' , 'Legendary Sannin' : 'sannin' , 'Hokage' : 'hokage' , 'Kage' : 'hokage' };
                                var rankImage=rankImageMap[profileUser.rank] || 'genin' ; %>
		<td><img src="/images/ninjaranks/<%= rankImage %>.gif" class="rank"> <%= profileUser.rank || 'Academy Student' %></td>
	</tr>
	<tr class="color1">
		<td>Wins:</td>
		<td><%= profileUser.wins || 0 %></td>
	</tr>
	<tr class="color2">
		<td>Losses:</td>
		<td><%= profileUser.losses || 0 %></td>
	</tr>
	<tr class="color1">
		<td>Streak:</td>
		<td><%= (profileUser.streak > 0 ? '+' : '') + (profileUser.streak || 0) %></td>
	</tr>
	<tr><td class="dots" colspan="2"></td></tr>
</tbody></table>
<div class="brspacer"></div>
<table class="max">
	<tbody><tr>
		<td class="title" colspan="3"><img class="pre" src="/images/pres/pre3.gif"> Site activity</td>
	</tr>
	<tr class="color2">
		<td width="30%">Status:</td>
		<td width="70%" colspan="2"><img src="/images/status/<%= isOnline ? 'online' : 'offline' %>.gif"> <%= isOnline ? 'online' : 'offline' %></td>
	</tr>
	<tr class="color1">
		<td>Current online activity:</td>
		<% if (isOnline && profileUser.lastActive) { %>
			<td><%= new Date(profileUser.lastActive).toLocaleString('en-US', { month: 'long' , day: 'numeric' , year: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %></td>
		<% } else { %>
			<td><div class="nothing">n/a</div></td>
		<% } %>
	</tr>
	<tr class="color2">
		<td>Current page activity:</td>
		<% if (isOnline) { %>
				<td colspan="2"><a class="con" href="<%= locationUrl %>"><%= locationTitle %></a></td>
				<% } else { %>
						<td colspan="2"><a class="con" href="/"><div class="nothing">n/a</div></a></td>
					<% } %>
	</tr>
	<tr><td class="dots" colspan="3"></td></tr>
</tbody></table>
<div class="brspacer"></div>
<table class="max">
	<tbody><tr>
		<td class="title" colspan="3"><img class="pre" src="/images/pres/pre3.gif"> Personal information</td>
	</tr>
	<tr class="color2">
		<td>Country:</td>
		
		<% if (profileUser.country) { %>
		<td>
				<img class="smilie" src="/images/countries/<%= profileUser.country %>.gif">
				[ <%= profileUser.country %> ]
			</td>
		<% } else { %>
			<td><div class="nothing">n/a</div></td>
		<% } %>
	</tr>
	<tr class="color1">
		<td>Email:</td>
		<% if (profileUser.email && !profileUser.emailHidden) { %>
			<td><%= profileUser.email %></td>
		<% } else { %>
			<td><div class="nothing">n/a</div></td>
		<% } %>
	</tr>
	<tr class="color2">
		<td>Discord:</td>
		<% if (profileUser.discord) { %>
			<td><%= profileUser.discord %></td>
		<% } else { %>
			<td><div class="nothing">n/a</div></td>
		<% } %>
	</tr>
	<tr class="color1">
		<td>Youtube:</td>
		<% if (profileUser.youtube) { %>
			<td><%= profileUser.youtube %></td>
		<% } else { %>
			<td><div class="nothing">n/a</div></td>
		<% } %>
	</tr>
	<tr><td class="dots" colspan="2"></td></tr>
</tbody></table>
<div class="brspacer"></div>
<table class="max">
	<tbody><tr>
		<td class="title" colspan="4"><img class="pre" src="/images/pres/pre3.gif"> Ladder games (in the last 24 hours)</td>
	</tr>
	<% if (recentLadderGames.length === 0) { %>
	<tr><td class="dots" colspan="4"></td></tr>
	<% } else { %>
	<% recentLadderGames.forEach(function(game, i) { %>
	<% var p0 = game.players[0]; var p1 = game.players[1]; %>
	<tr class="<%= i % 2 === 0 ? 'color2' : 'color1' %>">
		<td width="25%"><%= new Date(game.time).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %> <%= new Date(game.time).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: false }) %></td>
		<td width="45%">
			<% if (p0 && !p0.isAi) { %><a href="/profile/<%= p0.username %>/" class="con"><%= p0.username %></a><% } else if (p0) { %><%= p0.username %><% } %>
			vs
			<% if (p1 && !p1.isAi) { %><a href="/profile/<%= p1.username %>/" class="con"><%= p1.username %></a><% } else if (p1) { %><%= p1.username %><% } %>
		</td>
		<td width="30%">
			<% var winnerIsAi = game.players.find(function(p) { return String(p.id) === String(game.winnerId) && p.isAi; }); %>
			<% if (winnerIsAi) { %>Winner <b><%= game.winnerUsername %></b>
			<% } else { %><a href="/profile/<%= game.winnerUsername %>/">Winner <b><%= game.winnerUsername %></b></a><% } %>
		</td>
	</tr>
	<% }); %>
	<tr><td class="dots" colspan="4"></td></tr>
	<% } %>
</tbody></table>
<div class="brspacer"></div>
<% if (hasPlayerCard) { %>
	<table class="max">
		<tbody><tr>
			<td class="title"><img class="pre" src="/images/pres/pre3.gif"> Player Card</td>
		</tr>
		<tr class="color2">
			<td>
				<div class="padding2">
					<center><img src="/images/myplayercard/<%= profileUser.id %>.jpg"></center>
				</div>
			</td>
		</tr>
		<tr><td class="dots"></td></tr>
	</tbody></table>
<% } %>
							</div>
							<div class="brspacer2">
								<div class="dots"></div>
								<div class="grey">
									<div class="centerp">
										Related subjects: <h3><%= profileUser.username %></h3>, <h3>account</h3>, <h3>user</h3>, <h3>member</h3>, <h3>admin</h3>, <h3>moderator</h3>
									</div>
								</div>
							</div>
							<div class="brspacer">
								<center>
								</center>
								<div class="brspacer">
									<center>
										Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series. 
										The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
										NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
										<div class="centerp">
											<a href="/privacy-policy/" class="con">Privacy policy</a> - 
											<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> - 
											<a href="/terms-of-use/" class="con">Terms of use</a>
										</div>
									</center>
								</div>
							</div>
						</div>