<div id="content">
						<div class="brspacer">
							<h1>Search</h1><br><div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <h2>Search</h2></div>
						</div>
						<div class="brspacer">

<div class="brspacer">


</div>

<script type="text/javascript" language="javascript">
	function gosearch(){
		var searchvalue = document.searchform.searchquery.value;
		searchvalue = searchvalue.replace(" ","+");
		searchvalue = searchvalue.toLowerCase();
		if (searchvalue != ""){
			var completeurl = "/search/" + searchvalue + "/";
		}else{
			var completeurl = "/search/";
		}
		window.location = completeurl;
	}
	function redirect(url){
		window.location = url;
	}
</script>

<div class="center">
	<form method="POST" name="searchform" onsubmit="event.preventDefault(); gosearch();">
		<h5>SEARCH</h5>
		<input type="text" size="15" name="searchquery"
			value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>"
			onKeyDown="if(event.keyCode==13) gosearch();">
		<a href="#" onClick="gosearch()"><h6>GO</h6></a>
	</form>
</div>

<% if (typeof searchResults === 'undefined' || searchResults.length === 0) { %>
<div class="centererror">
	No results could be found.<br>
	Please make sure that your keyword contains at least 4 characters and is not a spam word.
</div>
<% } else { %>
<div class="brspacer">
	<div class="binfo">
		Search completed (<u><%= totalResults %></u> results found)
	</div>
	<% searchResults.forEach(function(result) { %>
	<div class="brspacer">
		<div class="color2">
			<div class="dots"></div>
			<div class="bg1">
				<div class="bg2">
					<table class="maxnb">
						<tbody><tr class="color2">
							<td class="score">
								<a href="<%= result.url %>" class="score">
									<b>Relevance</b>
									<%= result.relevance %>%
								</a>
							</td>
							<td>
								<div class="bg1">
									<div class="sdescr" onclick="location.href='<%= result.url %>'">
										<b>Name:</b> <%= result.title %><br>
										<b>Keywords:</b> <%= result.keywords %><br>
										<b>Content:</b><br> <%= result.snippet %>
									</div>
								</div>
							</td>
						</tr>
					</tbody></table>
				</div>
			</div>
			<div class="dots"></div>
		</div>
	</div>
	<% }); %>

	<% if (totalPages > 1) { %>
	<div class="brspacer">
		<div class="left">
			[ Page <%= currentPage %>/<%= totalPages %> ] &nbsp;

			<% if (currentPage > 1) { %>
			<a href="/search/<%= searchQuery %>/1/">&nbsp;&nbsp;<img class="pre" src="/images/pres/pre2.gif"><img class="pre" src="/images/pres/pre2.gif"></a>
			<a href="/search/<%= searchQuery %>/<%= currentPage - 1 %>/">&nbsp;&nbsp;<img class="pre" src="/images/pres/pre2.gif"></a>
			<% } %>

			<% for (let i = 1; i <= totalPages; i++) { %>
				<% if (i === currentPage) { %>
				<u><%= i %></u>
				<% } else { %>
				<a href="/search/<%= searchQuery %>/<%= i %>/"><%= i %></a>
				<% } %>
			<% } %>

			<% if (currentPage < totalPages) { %>
			<a href="/search/<%= searchQuery %>/<%= currentPage + 1 %>/">&nbsp;&nbsp;<img class="pre" src="/images/pres/pre.gif"></a>
			<a href="/search/<%= searchQuery %>/<%= totalPages %>/">&nbsp;&nbsp;<img class="pre" src="/images/pres/pre.gif"><img class="pre" src="/images/pres/pre.gif"></a>
			<% } %>
		</div>

		<div class="right">
			<select name="listingselect" onchange="redirect(this.options[this.selectedIndex].value)">
				<% for (let i = 1; i <= totalPages; i++) { %>
				<option value="/search/<%= searchQuery %>/<%= i %>/" <%= i === currentPage ? 'selected' : '' %>>&nbsp;Page <%= i %>&nbsp;</option>
				<% } %>
			</select>
		</div>
		<div class="clear"></div>
	</div>
	<% } %>
</div>
<% } %>

						</div>
						<div class="brspacer2">
							<div class="dots"></div>
							<div class="grey">
								<div class="centerp">
									Related subjects: <h3>search</h3>, <h3>find</h3>, <h3>finding</h3>, <h3>searching</h3>
								</div>
							</div>
						</div>
						<div class="brspacer">
							<center>
							</center>
							<div class="brspacer">
								<center>
									Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
									The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
									NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
									<div class="centerp">
										<a href="/privacy-policy/" class="con">Privacy policy</a> -
										<a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
										<a href="/terms-of-use/" class="con">Terms of use</a>
									</div>
								</center>
							</div>
						</div>
					</div>
