<div id="content">
    <div class="brspacer">
        <h1>Users online</h1><br>
        <div id="pagepath"><a href="/">Naruto Arena</a> &gt; <a href="/main/">Main</a> &gt; <h2>Users online</h2></div>
    </div>
    <div class="brspacer">

        <div class="brspacer">
        </div>

        There are currently <b><%= totalOnline %></b> users online.

        <div class="brspacer">
            <% if (locations && locations.length > 0) { %>
            <% locations.forEach(function(location) { %>
            <fieldset>
                <legend><%= location.title %></legend>
                <%= location.users.length %> user(s) is/are browsing <a href="<%= location.url %>" class="con"><%= location.title %></a>.<br>
                <b>Members browsing this page are:</b><br>
                <% location.users.forEach(function(u, index) { %>
                <a href="/profile/<%= u.username %>/" class="con" title="<%= u.username %>"><%= u.username %></a><%= index < location.users.length - 1 ? ', ' : '' %>
                <% }); %>
            </fieldset>
            <% }); %>
            <% } else { %>
            <p>No users currently online.</p>
            <% } %>
        </div>

    </div>
</div>
<div class="brspacer2">
    <div class="dots"></div>
    <div class="grey">
        <div class="centerp">
            Related subjects: <h3>users online</h3>, <h3>browsing</h3>, <h3>online</h3>, <h3>last online</h3>, <h3>active users</h3>
        </div>
    </div>
</div>
<div class="brspacer">
    <div class="brspacer">
        <center>
            Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
            The holders of the copyrighted and/or trademarked material appearing on this site are as follows:<br>
            NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.
            <div class="centerp">
                <a href="/privacy-policy/" class="con">Privacy policy</a> -
                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
                <a href="/terms-of-use/" class="con">Terms of use</a>
            </div>
        </center>
    </div>
</div>
</div>
