<div
    style="padding: 0px 0px 0px 0px;  margin:0px 0px 0px 0px; top:217px; position:absolute; background-color:white; left:200px; width:565px; line-height: 16px; border-top: 1px black solid; border-left: 1px black solid;  height:auto;">
    <div
        style="padding: 0px 0px 0px 0px;  height:auto; margin:10px 10px 10px 10px; font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:#000000;">
        <h1>
            <%= character.name %>
        </h1><br><a href='/'>Naruto Arena</a> > <a href='/game-manual/'>Game manual</a> > <a
            href='/characters-and-skills/'>Characters & Skills</a> > <h2>
            <%= character.name %>
        </h2><br><br>

        <center>
        </center>

        <center>

            <div style="width:70%;" align="left">
                <h2>
                    <%= character.name %>
                </h2>
                <div class="dots"></div>
                <div class="color2" align="left" style="padding:3px;">
                    <img class="border" align="left" src="/game/images/characters/<%= character.id %>/avatarlarge.jpg"
                        hspace="5" vspace="3">
                    <%= character.description %><br clear="all">
                </div>
                <div class="dots"></div>
                <div align="right">Requirement to unlock: <% if (character.locked) { %>Unreleased<% } else { %>0 wins<%
                                } %>
                </div>
            </div><br />

            <% if (!character.locked && character.skills && character.skills.length> 0) { %>
                <% for (var i=0; i < character.skills.length; i++) { var skill=character.skills[i]; %>
                    <div align="left" style="width:45%; height:150px; float:left; margin: 6px 6px 6px 6px;">
                        <h2>
                            <%= skill.name %>
                        </h2>
                        <div class="dots"></div>
                        <div class="color2" align="left" style="padding:3px;">
                            <img class="border" align="left" src="/game/images/skills/<%= skill.id %>/avatarlarge.jpg"
                                hspace="5" vspace="3">
                            <%= skill.description %><br clear="all" />
                        </div>
                        <div class="dots"></div>
                        <div align="right">Chakra required: <% var chakraStr=skill.chakra || '' ; for (var j=0; j <
                                chakraStr.length; j++) { var ct=chakraStr[j]; var ci='random' ; if (ct==='1' )
                                ci='taijutsu' ; if (ct==='2' ) ci='bloodline' ; if (ct==='3' ) ci='ninjutsu' ; if
                                (ct==='4' ) ci='genjutsu' ; %><img src='/images/chakra/<%= ci %>.gif' class='chakra'>
                                <% } %>
                        </div>
                    </div>
                    <% } %>
                        <% } %>

                            <br clear="all"><br /><br />
                            <center>
                                <div style="width:69%;">

                                </div>
                            </center>
                            <br><br><br>
                            <div class="dots"></div>
                            <div class="nothing">
                                Pagename: <b>
                                    <%= character.name %>
                                </b><br>
                                Description: Naruto Arena focuses on characters and skills. In this guide you will see
                                all of them plus you are able to discuss about them.<br>
                                Related subjects: <h3>
                                    <%= character.name.toLowerCase() %>
                                </h3>, <h3>characters</h3>, <h3>skills</h3>, <h3>character</h3>, <h3>skill</h3><br><br>
                                Naruto-Arena.com is a fansite based on the Naruto Anime and Manga series.
                                The holders of the copyrighted and/or trademarked material appearing on this site are as
                                follows:<br>
                                NARUTO © 2002 MASASHI KISHIMOTO. All Rights Reserved.<br><br>
                                <a href="/privacy-policy/" class="con">Privacy policy</a> -
                                <a href="/legal-disclaimer/" class="con">Legal disclaimer</a> -
                                <a href="/terms-of-use/" class="con">Terms of use</a>
                            </div>
                            <div class="dots"></div><br>
    </div>
</div>
</div>
</div>