<a name="reply<%= comment.id %>"></a>
<div>
    <div class="cdate"><img class="pre" src="/images/pres/pre.gif"> Posted on <%= new Date(comment.createdAt).toLocaleString('en-US', {
                                weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric' , hour: '2-digit' ,
                                minute: '2-digit' , hour12: false }) %></div>
    <div class="cusercontrols">
    </div>
</div>
<div class="dots"></div>
<table class="comment">
    <tbody><tr>
        <td class="cavatar">
            <img src="<%= comment.authorAvatar %>"><br>
            <a href="/profile/<%= comment.authorName %>/"><b><%= comment.authorName %></b></a><br>
            Posts: <%= comment.authorPosts %>
        </td>
        <td class="cpost">
            <%- comment.content %>
        </td>
        <% if (typeof user !=='undefined' && user) { %>
        <tr>
            <td colspan="2" align="right">
                <a href="#comment-editor"
                    onclick="quoteComment('<%= comment.authorName.replace(/'/g, '\\\'') %>', decodeURIComponent('<%= encodeURIComponent(comment.content).replace(/'/g, '\\\'') %>'))"
                    style="cursor: pointer; text-decoration: none; color: black; font-size: 10px;"><b>Quote</b></a>
            </td>
        </tr>
        <% } %>
    </tr>
</tbody></table>
<div class="dots"></div>
<br>
