<div id="leftlay">
    <div class="nav">
    <% if (locals.role==='admin' || locals.role==='moderator' ) { %>
        <%- include('admin_menu') %>
            <% } %>
                <h4 class="block">Account</h4>
                <% if (locals.user) { %>
                    <div style="margin-bottom: 5px;">Welcome, <b>
                            <%= locals.user %>
                        </b></div>
                    <a href="/control-panel"><u>Control panel</u></a><br>
                    <a href="/profile/<%= user %>"><u>View profile</u></a><br>
                    <a href="/private-messages"><u>Private messages (<%= unreadMessagesCount %> new)</u></a><br>
                    <a href="/buddy-list"><u>Buddy list: (<%= onlineBuddiesCount %> online)</u></a><br>
                    <a href="/change-settings"><u>Change settings</u></a><br>
                    <a href="/change-password"><u>Change password</u></a><br>
                    <a href="/change-avatar"><u>Change avatar</u></a><br>
                    <a href="/my-player-card"><u><b>My Player Card</b></u></a><br>
                    <a href="/reset-account"><u>Reset account</u></a><br>
                    <a href="/logout"><u>Logout</u></a>
                    <% } else { %>
                        <form action="/login" method="post">
                            <input onfocus="this.value=''" value="username" maxlength="16" name="username" /><br />
                            <input onfocus="this.value=''" value="password" type="password" name="password" /><br />
                            <input type="checkbox" class="nb" CHECKED value="yes" name="cookie" id="cookie" />
                            <label for="cookie">Stay logged in</label>
                            <% if (typeof sidebarLoginError !=='undefined' && sidebarLoginError) { %>
                            <div class="error">
                                <%= sidebarLoginError %>
                            </div>
                            <% } %>
                            <br /><input type="submit" value="Login" class="button" name="submit2" />
                            <input type="button" class="button" value="Register" onClick="location.href='/register/'" />
                        </form>
                        <a href="/lost-password"><u>Lost your password?</u></a>
                        <% } %>
                        <%- include('news_sidebar', { news: locals.news }) %>
                        <%- include('poll') %>
                        <%- include('statistics', { statistics: locals.statistics }) %>
                        <%- include('search_function') %>

</div>
</div>