<div
    style="padding: 0px 0px 0px 0px; margin:0px 0px 0px 0px; top:217px; position:absolute; left:196px; width:180px; background-color:#1a99ea; border: 1px black solid;">
    <div id="nav"
        style="padding: 0px 0px 0px 0px; margin:10px 10px 10px 10px; position:relative;  font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:white;">
        <h4>Version Info</h4><br>
        BETA 1.0<br>
        <b>Note:</b> If you are new to this game it might be smart to first read <a href="/the-basics/"><b>The
                Basics</b></a> before you start
        playing.<br>
        <br>
        <%- include('../random_screenshot') %>
            <br>
            <br>

            <%- include('../ladder_top10') %>
                <br>
                <%- include('../top_wins') %>

                    <br>
                    <%- include('../top_streak') %>


    </div>
</div>


<!-- LAYOUT: CONTENTFIELD -->
<div
    style="padding: 0px 0px 0px 0px;  margin:0px 0px 0px 0px; top:217px; position:absolute; background-color:white; left:389px; width:395px; line-height: 16px; border-top: 1px black solid; border-left: 1px black solid; height:1000px;">
    <div
        style="padding: 0px 0px 0px 0px; height:1000px; margin:10px 10px 10px 10px; font: normal normal normal 11px/normal Trebuchet MS, arial, verdana, sans-serif; color:#000000;">
        <%- include('../latest_news') %>
    </div>
</div>